name: Build & Deploy

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  version:
    runs-on: ubuntu-latest

    outputs:
      VERSION: ${{ steps.setver.outputs.VERSION }}

    steps:
      - name: Determine version
        id: setver
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            RAW_TAG=${GITHUB_REF#refs/tags/}
            VERSION=${RAW_TAG#v}
            VERSION=${VERSION#V}
          else
            VERSION=1.0.0-SNAPSHOT
          fi
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: version

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin

      - name: Set version
        run: |
          mvn -B versions:set -DnewVersion=${{ needs.version.outputs.VERSION }}
          mvn -B versions:set-property -Dproperty=revision -DnewVersion=${{ needs.version.outputs.VERSION }}

      - name: Build
        run: mvn -B -DskipTests package

  test:
    runs-on: ubuntu-latest
    needs: version

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin

      - name: Set version
        run: |
          mvn -B versions:set -DnewVersion=${{ needs.version.outputs.VERSION }}
          mvn -B versions:set-property -Dproperty=revision -DnewVersion=${{ needs.version.outputs.VERSION }}

      - name: Run tests
        run: mvn -B test

  deploy:
    runs-on: ubuntu-latest
    needs: [ version, test, build ]
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK + GPG
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          server-id: central
          server-username: OSSRH_USERNAME
          server-password: OSSRH_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: GPG_PASSPHRASE

      - name: Set version
        run: |
          mvn -B versions:set -DnewVersion=${{ needs.version.outputs.VERSION }}
          mvn -B versions:set-property -Dproperty=revision -DnewVersion=${{ needs.version.outputs.VERSION }}

      - name: Deploy to Maven Central
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: mvn -B -Pdeploy-to-central clean deploy
